.intro-header {
  background: linear-gradient(120deg, #44309F, #390063);
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;
}

#site_title {
  font-family: 'Bungee Shade', cursive;
  font-size: 140px;
  letter-spacing: 10px;
  font-weight: 300;
}

#page_title {
  font-family: 'Bungee Inline', cursive;
  font-weight: 300;
}

.intro-header .site-heading .subheading {
  font-family: 'Bungee Hairline';
  font-weight: 700;
}

.intro-header .post-heading h1 {
  font-family: 'Bungee Hairline';
  font-weight: 700;
}

.intro-header .post-heading .subheading {
  font-weight: 200;
  font-size: 20px;
}

.post-heading {
    margin-top: 30px;
}

.notepad-index-post-tags a:hover {
	color:  #44309F;
	border: 0.0625rem solid  #44309F;
}

.navbar-custom.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -61px;
  background-color: #44309F;
  border-bottom: 1px solid #390063;
}
.navbar-custom.is-fixed .navbar-brand {
  color: #FFFFFF;
}

.navbar-custom.is-fixed .nav li a {
  color: #FFFFFF;
}

.navbar-custom.is-fixed .nav li a:hover {
  color: #03A9F4;
}

@media only screen and (max-width: 700px) {
  #site_title {
    font-size: 90px;
  }
}
